body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
  margin: 0;
  padding: 0;
  animation: fadeInUp 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}


.container {
  max-width: 800px;
  background-color: #fff;
  margin: 30px auto;
  padding: 20px 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
header {
  text-align: center;
  border-bottom: 2px solid #0078ff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  color: #0078ff;
}

header p {
  margin: 5px 0;
  color: #555;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #0078ff;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

h3 {
  margin-bottom: 5px;
  color: #333;
}

p, li {
  color: #555;
  line-height: 1.6;
}
